@{
    ViewData["Title"] = "Contact Me";
    ViewData["Banner"] = "Contact";
}

<div class="row justify-content-md-center mb-5">
    <div class="col-9">
        <h1 class="text-center display-4"> @ViewData["Title"]</h1>
        <div class="content fs-4 lh-base">
            <p>If you have questions, feel free to send an email to me. maxazure@gmail.com</p>
        </div>
    </div>

</div>

