@{
    ViewData["Title"] = "Jay Liu";
    ViewData["Banner"] = "About";
}

<div class="row justify-content-md-center mb-5">
    <div class="col-9">
    <h1 class="text-center class="display-4"">@ViewData["Title"]</h1>
    <h3 class="text-center fs-3">Software Engineer</h3>
    <div class="content fs-4 lh-base">
            <p>Over a 15-year long career in software development I’ve built and launched more than 30 projects. Since graduating from University, I have worked at tech companies in China and progressed from a junior to senior engineer. This ultimately lead to my being appointed to a position as head of engineering at a software company in Beijing.</p>
            <p><img src="/pic/about.png" class="img-fluid" /></p>
            <p>I can solve complex practical problems by designing software systems, such as developing online shopping malls and management panels, or enterprise information management systems (ERP, CRM). In addition, I am also good at full-stack development.</p>
    </div>

    </div>

</div>
